<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
       <staticContent>
           <remove fileExtension=".mem" />
           <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
         <remove fileExtension=".data" />
        <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
        <AddType application/octet-stream .memgz .datagz .unity3dgz/>
        <AddType application/javascript .jsgz />

      </staticContent>
   </system.webServer>
</configuration>
